<title>Home</title>
  <div class='content'>
    <h1>Du hast mich gehackt, du Lausbua!</h1>
    <u><b>Wussten sie schon:</b></u>
    <p>Man kann 120 Euro Strafe zahlen, wenn man in Singapur die Toilette nicht nach sich selbst spült.</p>
    <u><b>oder</b></u>
    <p>Im 17ten Jahrhundert wurde in Frankreich eine (Haus)Kuh der Zauberei angeklagt und verurteilt (Hängen).</p>
    <u><b>hier kommt noch einer:</b></u>
    <p>Schwangere sind die wahren Bodybuilder.</p>
  </div>

